---
import Layout from "../layouts/layout.astro"

import Header from "../components/header.astro"
import Navigation from "../components/nav.astro"
---

<Layout title="Vocabularicat">
	<Navigation>
		<span slot="vocabulary">Vocabulari</span>
		<span slot="challenges">Reptes</span>
	</Navigation>
	<Header>
		<span slot="title">Vocabularicat 👋</span>
		<span slot="description">
			Vocabularicat és una aplicació per aprendre vocabulari en català dividit en seccions.
		</span>
		<span slot="vocabulary">Veure el vocabulari</span>
		<span slot="challenges">Anar-hi als reptes</span>
	</Header>
</Layout>
