---
import Layout from "../layouts/layout.astro"
import Vocabulary from "../components/icons/vocabulary.astro"
import Language from "../components/icons/language.astro"
---

<Layout title="Vocabularicat">
	<nav class="m-auto max-w-[1000px] min-h-[100px] flex items-center">
		<div class="flex h-full gap-[20px]">
			<a href="/" class="flex gap-[10px] items-center">
				<Vocabulary />
				<span>Vocabulari</span>
			</a>
			<a href="/" class="flex gap-[10px] items-center">
				<Language />
				<span>Reptes</span>
			</a>
		</div>
	</nav>
</Layout>
