---
import Layout from "../../layouts/layout.astro"
import Nav from "../../components/nav.astro"
---

<Layout title="Vocabularicat">
	<Nav>
		<span slot="vocabulary">Vocabulari</span>
		<span slot="challenges">Reptes</span>
	</Nav>
	<main class="m-auto max-w-[1000px] min-h-[100px] w-full px-[20px] py-[20px]">
		<h1 class="font-bold text-[35px] text-center my-[20px]">El temps</h1>
        
	</main>
</Layout>
