---
import { ViewTransitions } from "astro:transitions"
import "../styles/index.css"
import Layout from "./layout.astro";
import Nav from "../components/nav.astro";

interface Props {
    title: string
}
---

<Layout title="Vocabularicat">
	<Nav>
		<span slot="vocabulary">Vocabulari</span>
		<span slot="challenges">Reptes</span>
	</Nav>
	<main class="m-auto max-w-[1000px] min-h-[100px] w-full px-[20px] py-[20px]">
		<slot />
	</main>
</L>

